.charity-box {
    width: 340px;
    height: 400px;
    margin: 1rem;
    /* text-align: center; */
    padding: 1rem;
    border-radius: 5px;
    /* display: flex;
    flex-direction: column; */
  }
/* 
  .donation {
    border-radius: 4px;
    color: white;
    background-color:  #551AEB;
  }

  .donation hover {
    color: #ff7300;
  } */

   /* .charity-box__mission-statement:hover {
    display: block;
  } */

  .charity-box__mission-statement {
    font-size: 14px;
    max-height: 50px;
    overflow: hidden;
    text-align: center;
  } 

  .charity-box__logo {
    display: block;
    height: 50px;
  }

  .charity-box__message-image {
    height: 150px;
  }

  .charity-box__charity-type {
    background-color: gray;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    padding: 8px;
    margin: 5px 0;
    display: inline-block;
  }

  