.charity-box {
    width: 340px;
    height: 300px;
    margin: 1rem;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    /* display: flex;
    flex-direction: column; */
  }

  .donation {
    border-radius: 4px;
    color: #551AEB;
  }

  .donation hover {
    color: #ff7300;
  }

  /* .charity-box:hover .mission-statement {
    display: block;
  } */

  .charity-box img {
    width: 210px; /* Set a fixed width for the images */
    height: 125px; /* Maintain aspect ratio */
  }

  