.charity-box {
  width: 340px;
  height: 470px;
  margin: 1rem;
  padding: 1rem;
  border: solid 3px grey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__mission-statement {
    font-size: 14px;
    height: 100px;
    overflow-y: auto;
    padding: 10px;
    background-color: #eee;
  }

  &__logo {
    display: block;
    height: 75px;
    width: auto;
    margin: 0 auto 10px;
  }

  &__message-image {
    max-height: 150px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: cover;
  }

  &__charity-type {
    background-color: gray;
    color: white;
    border-radius: 20px;
    font-size: 13px;
    padding: 8px;
    margin: 5px 5px 5px 0;
    display: inline-block;
  }

  &__donation {
    width: 302px;
  }
}
