/* Charities.css */
.charities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the grid horizontally */
    align-items: center;    /* Center the grid vertically */
  }
  
  .charity-box {
    width: 45%; /* Adjust the width as needed for spacing */
    height: 300px; /* Set a fixed height for all charity-box elements */
    margin: 1rem; /* Adjust the margin for spacing between boxes */
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    position: relative; /* Add this for positioning */
    display: flex; /* Use flex to align content vertically */
    
  
    /* Hide mission statement by default */
    .mission-statement {
      display: none;
      position: absolute; /* Position the mission statement */
      background-color: rgba(255, 255, 255, 0.9); /* Add a background color for readability */
      padding: 10px; /* Adjust padding as needed */
      width: 100%; /* Make the mission statement cover the entire box */
      bottom: 0; /* Position at the bottom of the box */
      left: 0; /* Position at the left of the box */
      align-self: flex-end; /* Align the mission statement to the bottom */
      font-size: 14px; /* Adjust the font size as needed */
    }
  
    &:hover .mission-statement {
      display: block; /* Show the mission statement on hover */
    }
  }
  
  .charity-box img {
    width: 80%; /* Set a fixed width for the images */
    max-height: 80%; /* Maintain aspect ratio, set a maximum height */
    margin-left: 130px;
  }
  
  /* Adjust the margin for the 'Feeding America' image */
  .charity-box a img[alt='feeding-america'] {
    margin-top: -30px; /* Adjust the margin to move it up */
    margin-left: 70px; /* Adjust the margin to move it right */
  }

  .charity-box a img[alt='unicefusa'] {
    margin-top: 0px; /* Adjust the margin to move it up */
    margin-left: 30px; /* Adjust the margin to move it right */
  }
  
  .mission-statement {
    margin-top: 1rem;
  }
  