/* Charities.css */
.charities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  height: 100vh; /* This will make the container take the full height of the viewport */
}

.charities__suggested-charities {
  /* margin-top: -100px; Adjust the top margin as needed */
  font-weight: 600;
  text-align: center;
  font-size: 3em;
  color: #ff7300;
  position: relative;
  left: -80px;
}

.charities__suggested-charities span {
  color: #551aeb;
  font-size: 32px;
  font-style: italic;
  position: relative;
  top: -30px;
}
.charity-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 4px;
  color: #551aeb;
}

.button hover {
  color: #ff7300;
}

@media screen and (max-width: 440px) {
  .charity-boxes {
    display: block;
    margin-top: 220px;
  }
}

.mission-statement {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  width: 100%;
  bottom: 0;
  left: 0;
  align-self: flex-end;
  font-size: 14px;
}

.charities__main-content {
  display: flex;
}

.charities__selector {
  display: flex;
  flex-direction: column;
}
