* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* .home, */
  .about,
  .rewards,
  .contact-us
  .sign-up 
  
   {
    display: flex;
    height: 90vh;
    align-items: center;
    /* justify-content: center; */
    /* font-size: 3rem; */
  }
  
  .main-content {
    text-align: center;
    font-size: small;
    width: 100%;
    color: #ffffff;
    background-color: #551aeb;;
  }
  
  /* .main-content h1 {
    background-color: white;
    height: 30px;
    padding: 4px;
    color: #551aeb;
    font-size: medium;
    font-weight: 600;
  }
  
  .main-content h3 {
    font-size: xx-large;
    font-weight: bolder;
  } */
  
  /* .donate-btn {
    width: 250px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color:#551aeb;
    color: #ffffff;
    padding: 8px;;
  } */
  
  /* .hero-image {
    background-image: url(images/img-1a-trans.jpg);
  } */
  
  /* .hero-images {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 30%;
  }
  
  .carousel-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    height: 900px;
    display: flex;
    align-items: center;
    min-width: 100%;
    padding-top: 200px;
  }
   */
  /* .unicef-home {
    background-image: url(images/carousel-images/unicef_home.jpg);
  } */
  
  /* .home-content {
    top: 80%;
    position: absolute;
    
  } */
