.payment-container {
  display: flex;
  justify-content: center; /* Align to the start of the container */
  align-items: flex-start; /* changed from center to flex-start */
  min-height: 100vh;
  padding-top: 150px;
  margin-bottom: var(--footer-height, 0px); /* Dynamically set via JavaScript */
}

.payment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #551aeb;
  border-radius: 5px;
  max-width: 700px; /* Adjust this as needed */
  width: calc(100% - 20px); /* Adjust width to account for padding */
  background-color: #f5f5f5;
  margin: 0 auto; /* Center the form in the page */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow to the form */
}

.payment-form h2 {
  color: #551aeb;
  font-size: 50px;
  margin-bottom: 10px;
  letter-spacing: 1px; /* Add spacing between letters */
  border: none; /* This will ensure no border is applied to the h2 element */
}

.payment-form input,
.StripeElement {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #551aeb;
  border-radius: 3px;
}

.payment-form button {
  display: block; /* Block display will allow the button to respect the margin auto */
  width: calc(25% - 20px); /* Full width minus the padding from the container */
  background-color: #ff7300;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px auto; /* Top and bottom margin of 10px and auto margin on the sides */
  transition: background-color 0.3s ease;
}

.payment-form button:hover {
  background-color: #551aeb;
}

.payment-form .form-group.inline {
  align-items: center;
  /* width: 100%; */
  display: flex;
  gap: 10px;
  justify-content: space-between; /* This will align items properly */
}

.payment-form .form-group.inline input {
  flex: 1;
}

.form-group {
  margin-bottom: 20px; /* Adjust spacing as needed */
  width: 100%; /* Set width to 100% of its parent */
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px; /* Adjust font size as needed */
  color: #333; /* Adjust label color as needed */
  width: 100%;
}

.donation-frequency-box {
  border: 1px solid #551aeb; /* Example border color */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px; /* Spacing below the box */
}

.donation-frequency-label {
  font-weight: bold;
  display: block; /* Ensures the label appears on its own line */
  margin-bottom: 10px; /* Spacing between label and options */
}

.radio-group {
  display: flex;
  justify-content: space-around; /* This spreads out the radio options evenly */
}

.radio-option {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Ensures spacing to the right of each radio option */
}

.radio-option label {
  font-weight: bold; /* This will make the text bolder */
  font-size: 17px; /* You can increase the font-size as needed */
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 15px; /* Spacing between radio button and label */
  white-space: nowrap; /* Prevents wrapping of text */
  margin-left: 5px; /* Add some space between the radio button and the label */
  white-space: nowrap; /* Keep the label on one line */
}

.radio-option input[type="radio"] {
  margin-right: 5px;
  width: auto; /* Reset width in case it was altered */
  height: auto; /* Reset height in case it was altered */
}

.predefined-amounts {
  display: flex; /* This will arrange your buttons in a row */
  flex-wrap: wrap; /* This allows the buttons to wrap onto the next line if they don't fit */
  gap: 10px; /* This adds space between the buttons */
  justify-content: start; /* This aligns items to the start of the container */
  margin-bottom: 10px; /* This adds space below the button container */
}

.amount-button {
  margin-right: 10px;
  padding: 5px 15px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  transition: background-color 0.2s; /* Smooth transition for background color */
  flex: 1; /* This allows the buttons to grow and take up equal space */
  min-width: 70px; /* This ensures that buttons have a minimum width */
}

.amount-button,
.daily-rate-button {
  /* Add this class for the daily rate button */
  flex: 1;
  min-width: calc(
    20% - 10px
  ); /* Adjust the width so that all buttons can fit on the same line */
  text-align: center; /* Center the text inside the button */
  padding: 5px 0; /* Adjust the padding as necessary */
  margin-right: 0; /* Remove the margin-right since we're using gap for spacing */
}

.amount-button.selected,
.amount-button:hover {
  background-color: #ff7300; /* Highlight color for selected/hover state */
  color: white; /* Text color for selected/hover state */
}

.custom-amount-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px; /* Add space between the buttons and the input */
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  transition: border-color 0.2s; /* Smooth transition for border color */
}

.custom-amount-input:focus {
  border-color: #551aeb; /* Highlight the border when the input is focused */
}

/* Make sure the "donate now" button stands out */
.payment-form button[type="submit"] {
  background-color: #ff7300; /* Highlight color when hovered */
  color: white;
  padding: 15px 30px; /* Bigger padding for a larger button */
  font-size: 1.1em; /* Larger font size */
  font-weight: bold; /* Bold font */
  margin-top: 20px; /* Space from the last form field */
  width: auto; /* Auto width to fit content */
  transition: background-color 0.2s; /* Smooth transition for background color */
}

.payment-form button[type="submit"]:hover {
  background-color: #551aeb; /* Primary color for the main action */
}

.tick-mark {
  display: inline-block;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s;
  color: white; /* Adjust the color to match your button's text color */
  font-size: 1em; /* Adjust size to fit inside the button nicely */
  margin-right: 0.25em; /* Space between the tick mark and the button text */
}

/* Add this to your PaymentForm.css */
.toggle-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.toggle-button {
  padding: 10px 20px;
  border: 2px solid #555; /* Use your desired color */
  background-color: #fff;
  color: #555;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 5px; /* Spacing between buttons */
  border-radius: 20px; /* Rounded corners */
  display: flex; /* Use flexbox to align tick mark and text */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.toggle-button.active .tick-mark {
  background-color: #551aeb; /* Primary color for the main action */
  color: #fff;
  opacity: 1;
  transform: scale(1);
}

/* Hover effects */
.toggle-button:not(.active):hover {
  background-color: #551aeb; /* Primary color for the main action */
}

.fees-cover-checkbox {
  display: flex;
  align-items: center; /* Align checkbox and label text vertically */
  margin-top: 15px; /* Add some space above the checkbox */
  cursor: pointer;
  font-size: 1.2em; /* Increase font size for better visibility */
}

.fees-cover-checkbox input[type="checkbox"] {
  width: 25px; /* Increase the width of the checkbox */
  height: 25px; /* Increase the height of the checkbox */
  margin-right: 10px; /* Add space between the checkbox and the label text */
  cursor: pointer;
}

/* Style for the email input */
.email-input {
  display: block;
  width: 100%; /* Full width */
  padding: 10px; /* Padding for the text inside the input */
  border: none; /* Removes the default border */
  border-bottom: 2px solid #007bff; /* Blue bottom border */
  margin-bottom: 10px; /* Space below the input */
}

/* Style for the input when it's in focus */
.email-input:focus {
  outline: none; /* Removes the default focus outline */
  border-bottom-color: #0056b3; /* Darker blue border on focus */
}

.receipt-notice {
  font-size: 0.9em; /* Adjust to match the size you want */
  color: #6c757d; /* A standard placeholder text color */
  margin-top: 4px; /* Spacing between the input box and the text */
}

/* Add to your PaymentForm.css */
.select-charity {
  display: block;
  width: 100%; /* Ensures the dropdown takes up the full width of its container */
  padding: 10px 16px; /* Adds height and makes the dropdown more clickable */
  font-size: 1rem; /* Increases the font size for better readability */
  border: 2px solid #007bff; /* Adds a blue border for visibility */
  border-radius: 4px; /* Adds rounded corners to match your design */
  background-color: white; /* Sets a background color */
  color: #333; /* Sets the text color */
  cursor: pointer; /* Changes the cursor to a pointer to indicate it's a dropdown */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Positions the arrow icon */
  background-size: 16px 16px; /* Sets the size of the arrow */
}

/* Ensure the dropdown arrow icon is visible on all browsers */
.select-charity::-ms-expand {
  display: none; /* Hides the default arrow in IE */
}

/* Add focus style for accessibility */
.select-charity:focus {
  outline: none; /* Removes the default focus outline */
  border-color: #0056b3; /* Darkens the border color to indicate focus */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Adds a glow effect for focus */
}
.amount-notice {
  margin-top: 5px;
  font-size: 0.9em;
  color: #555;
  text-align: left;
}
.amount-instruction {
  margin-top: 5px;
  font-size: 0.9em;
  color: #555;
  text-align: left;
}
.custom-amount-input {
  padding-left: 20px; /* Make room for the dollar sign */
  position: relative;
}

.custom-amount-input::before {
  content: "$";
  position: absolute;
  left: 5px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
}
.payment-form .custom-amount-input::before {
  content: "$";
  position: absolute;
  left: 8px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  /* Style as needed to match your input's font */
  color: #333; /* Example color */
  font-size: 1rem; /* Example font size */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #551aeb;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

/* Add this to ensure the footer is always at the bottom of the page */
footer {
  margin-top: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .predefined-amounts {
    justify-content: center; /* Center buttons on smaller screens */
  }
  .amount-button {
    padding: 5px 10px; /* Smaller padding on mobile */
    font-size: 0.9em; /* Smaller font size on mobile */
  }

  .amount-button,
  .daily-rate-button {
    min-width: calc(25% - 10px); /* Adjust the min-width for mobile screens */
    padding: 5px 5px; /* Adjust padding for mobile */
  }
  /* Adjust the submit button size on mobile */
  .payment-form button[type="submit"] {
    padding: 10px 20px; /* Smaller padding on mobile */
    font-size: 1em; /* Adjust font size on mobile */
  }
  .payment-container {
    padding-top: 60px; /* Smaller padding for mobile */
    padding-bottom: 60px; /* Smaller padding for mobile */
  }
  .payment-form {
    /* Adjust form size and layout for mobile */
    max-width: 100%;
    width: calc(100% - 40px); /* Add more padding on the sides */
  }
}
