.payment-container {
  display: flex;
  justify-content: center; /* Align to the start of the container */
  align-items: center;
  height: 100vh;
  padding-top: 80px; /* Add padding to the top to push the form down slightly */
}

.payment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -200px; /* Adjust this value to move the form up */
  padding: 20px;
  border: 1px solid #551aeb;
  border-radius: 5px;
  width: 700px;
  /* width:min(100%,950px); */
  background-color: #f5f5f5;
}

.payment-form h2 {
  color: #551aeb;
  font-size: 50px;
  margin-bottom: 10px;
}

.payment-form input,
.StripeElement {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #551aeb;
  border-radius: 3px;
}

.payment-form button {
  display: block; /* Block display will allow the button to respect the margin auto */
  width: calc(50% - 20px); /* Full width minus the padding from the container */
  background-color: #ff7300;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px auto; /* Top and bottom margin of 10px and auto margin on the sides */
  transition: background-color 0.3s ease;
}

.payment-form button:hover {
  background-color: #551aeb;
}

.payment-form .form-group.inline {
  align-items: center;
  width: 140%;
  display: flex;
  gap: 10px;
}

.payment-form .form-group.inline input {
  flex: 1;
}

.form-group {
  margin-bottom: 20px; /* Adjust spacing as needed */
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px; /* Adjust font size as needed */
  color: #333; /* Adjust label color as needed */
}

.radio-group {
  display: flex;
  justify-content: center; /* Center the radio buttons horizontally */
  gap: 70px; /* Space between radio buttons */
  flex-direction: row;
}

.radio-option {
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevents the label from wrapping */
}

.radio-option label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-option input[type="radio"] {
  margin-right: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .payment-form {
    width: 100%;
    padding: 10px;
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #551aeb;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}
