/* :root {
    --primary: #551AEB;
  }
  
  /* .btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
  } */
  
  /* .btn:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: #ffffff;
    color: #551AEB;
    border-radius: 4px;
    font-weight: bold; */
    /* border: 2px solid var(--primary); */
    /* transition: all 0.3s ease-out;
  } */
  
  /* .info-box-button {
    background-color: #551aeb;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 14px; 
    transition: background-color 0.3s ease;
  } */

  button {
    background-color: #5519eb;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 15px; /* Adjusted padding for smaller button */
    border-radius: 4px;
    font-size: 16px; /* Kept readable font size for button text */
    font-weight: bolder;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff7300;
}
  
.orange-button {
   background-color: #ff7300;
}

.orange-button:hover {
  background-color: #551aeb;
}
  
  