footer {
    /* margin-top: 30%; */
    color: rgb(8, 0, 0);
    font-size: 11px;
    bottom: -50px;
    /* left: 2.5%; */
    text-align: center;
    position: relative;
  }
  
  /* Hide the footer on screens narrower than 960 pixels */
  @media (max-width: 960px) {
    .footer {
      display: none;
    }
  }