footer {
    margin-top: 2%;
    color: #080000;
    font-size: 11px;
    /* bottom: -10px; */
    padding-bottom: 30px;
    /* left: 2.5%; */
    text-align: center;
    position: relative;
  }
  
  /* Hide the footer on screens narrower than 960 pixels */
  @media (max-width: 1200px) {
    .footer {
      display: none;
    }
  }