* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.about,
.rewards,
.contact-us,
.sign-up 
{
  display: flex;
  height: 90vh;
  align-items: center;
}

.main-content {
  text-align: center;
  font-size: small;
  width: 100%;
  color: #ffffff;
  background-color: #551aeb;;
}

.main-content h1 {
  background-color: #551aeb;
  height: 35px;
  padding: 14px;
  color: #ebe8f4;
  font-size: 45px;
  font-weight: bolder;
}

.main-content h2 {
  padding: 19px;
  font-size: 36px;
  font-weight: bolder;
  padding-bottom: 8px;
  color: #ffffff;
  /* height: 60px; */
  line-height: 70px;
}
.main-content h3 {
  background-color: white;
  height: 40px;
  padding: 5px;
  color: #551aeb;
  font-size: 24px;
  font-weight: bold;
}

.donate-btn {
  /* margin-left: 44%; */
  width: 190px;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 60px;
  position: absolute;
  left: 43%;
  /* margin-bottom: 20px; */
  border-radius: 4px;
  background-color:#ff7300;
  color: #ffffff;
  z-index: 100;
  /* padding: 8px; */
}

.hero-image {
  background-image: url(../../../images/carousel-images/change-4-change_home.jpg);  background-position: bottom;

}

.hero-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 700px;
  overflow-x: hidden; 
}

.button {
  color: blue;
}

.carousel-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  /* position: relative; */
  height: 700px;
  /* min-height: 90%; */
  /* height: 70vh; */
  /* display: flex;
  align-items: center; */
  min-width: 100%;
  padding-top: 200px;
}

.hero-image-container {
  display: flex;
  transition: transform 1s ease;
  position: relative;
  width: 100%;
  height: 100%;
}

.unicef-home {
  background-image: url(../../../images/carousel-images/unicef_home.jpg);
  background-position: bottom;
}

.aspca-home {
  background-image: url(../../../images/carousel-images/aspca_home.jpg);
  background-position: center;
}

.red-cross-home {
  background-image: url(../../../images/carousel-images/red-cross4_home.jpeg);
}

.feed-america-home {
  background-image: url(../../../images/carousel-images/feed_america2-home.jpg);
  background-position: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 80%;
  position: absolute;
  
} 

.hero-image h1{
  color:#ffffff;
  font-size: 5rem;
  font-weight: 600;
}

/* hiw button */
.how-it-works {
  margin: 230px 0px 20px 30px;
  width: 200px;
  background-color:#ff7300;
  font-weight: bolder;
  font-size: 22px;
  padding: 7px;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}

.how-it-works button:hover {
  background-color:#551aeb;
}

.main-content {
    text-align: center;
    font-size: small;
    width: 100%;
    color: #ffffff;
    background-color: #551aeb;;
  }
  
  .main-content h1 {
    background-color: #551aeb;
    height: 43px;
    padding: 18px;
    color: #ebe8f4;
    font-size: 48px;
    font-weight: bolder;
  }

  .main-content h2 {
    padding: 16px;
    font-size: 38px;
    font-weight: bolder;
    padding-bottom: 5px;
    color: #ffffff;
    line-height: 80px;
  }

  .main-content h3 {
    background-color: white;
    height: 45px;
    padding: 7px;
    color: #551aeb;
    font-size: 24px;
    font-weight: bold;
  }

  .donate-btn {
    width: 190px;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 50px;
    position: absolute;
    left: 43%;
    border-radius: 4px;
    background-color:#ff7300;
    color: #ffffff;
    z-index: 100;
  }

  .hero-image {
    background-image: url(../../../images/carousel-images/change-4-change_home.jpg);  background-position: bottom;
  }

  .hero-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 660px;
    overflow-x: hidden; 
  }

  .carousel-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    min-width: 100%;
    padding-top: 200px;
  }

  .hero-image-container {
    display: flex;
    transition: transform 1s ease;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .unicef-home {
    background-image: url(../../../images/carousel-images/unicef_home.jpg);
    background-position: bottom;
  }
  
  .aspca-home {
    background-image: url(../../../images/carousel-images/aspca_home.jpg);
    background-position: bottom;
  }
  
  .red-cross-home {
    background-image: url(../../../images/carousel-images/red-cross4_home.jpeg);
  }
  
  .feed-america-home {
    background-image: url(../../../images/carousel-images/feed_america2-home.jpg);
    background-position: center;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 80%;
    position: absolute;
    
  } 
  
  .hero-image h1{
    color:#ffffff;
    font-size: 5rem;
    font-weight: 600;
  }
  
  /* hiw button */
  .how-it-works {
    margin: 265px 0px 40px 10px;
    width: 180px;
    background-color:#ff7300;
    font-weight: bolder;
    font-size: 20px;
    padding: 8px;
    color: #ffffff;
    border-radius: 4px;
    border: none;
  }
  
  .how-it-works button:hover {
    background-color:#551aeb;
  }

  .how-it-works-page {
    /* position:relative; */
    /* padding-bottom: 30px; */
    font-weight: normal;
    /* top: 47%; */
    color: #ff7300;
    text-align: center;
    font-size: 45px;
    margin-top: -1px;
  }
  
  .hiw-header {
    margin-left: 19.7%;
    height: 80vh;
  }
  
  .how-it-works-image {
    background-image: url('../../../images/hiw-banner_2wider.jpg');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 340px;
    margin-top: 100px;
    margin-bottom: 50px;
  }


  /* .main-content h3 {
    font-size: xx-large;
    font-weight: bolder;
  }  */
  
  /* .donate-btn {
    width: 250px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color:#551aeb;
    color: #ffffff;
    padding: 8px;;
  } */
  
  /* .hero-image {
    background-image: url(images/img-1a-trans.jpg);
  } */
  
  /* .hero-images {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 30%;
  }
  
  .carousel-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    height: 900px;
    display: flex;
    align-items: center;
    min-width: 100%;
    padding-top: 200px;
  }
   */
  /* .unicef-home {
    background-image: url(images/carousel-images/unicef_home.jpg);
  } */
  
  /* .home-content {
    top: 80%;
    position: absolute;
    
  } */
