body {
  overflow-x: hidden;
}

.badges-container {
  /* margin: 20px; */
  max-width: 100vw;
  padding: 10px;
}
.header {
    display:flex;
    justify-content:row;
    /* align-items: center; */
    padding: 25px;
  }
  
  .earn-header{
    font-style: italic;
    margin-left: 130px;
  }

.earn-two {
  font-size: 2em;
  font-style: italic;
}

  .middle h1 {
    font-size: 10em;
    margin-left: 70px;
    padding: 10px;
  }
  .points-two{
    font-size: 2em;
  }
  .reward-header {
    font-weight: 500;
    margin: -25px;
  }

  .reward-pg{
    margin-left: 120px;
    padding: 12px;
  }
  
  .hm-bttn {
    margin-left: 10px;
    cursor: pointer;
  }

.reward-intro {
  /* border: 2px solid #ff7300; */
  /* padding: 45px; */
  align-items: center;
  justify-content: center;
  max-width: 90vw;
}

.rewards-page {
  /* width: 800px; */
  margin: 70px auto;
}

.top h1 {
  text-align: center;
  font-size: 6em;
  color: #ff7300;
}

    .top h4{
        text-align: left;
        color: hsl(257, 84%, 51%);
        font-size: 2em;
    } 
  
    .reward-intro h1 {
        text-align: center;
        font-size: xx-large;
        color: #ff7300;
    }

.top {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.middle {
  display: flex;
  flex-direction: row;
}

.social-media {
  margin-left: 150px;
  padding: 20px;
}

.header {
  display: grid;
}

.header button {
  position: absolute;
  top: 10px;
  right: 40px;
}

.flow-chart {
   margin-left: 130px;
    width: 80%;
    align-items: center;
    justify-content: center;
}
.bottom {
  justify-content: space-between;/* Items will be at opposite ends */
  padding: 10px; /* Add padding for better spacing */
}
.orange {
border: 2px solid;
background-color: #ff7300;
padding: 10px;
}

.share-with{ 
margin-left: 600px;
}
.social-tag img {
  /* display: flex;
  flex-direction: column; */
  /* align-self:center ; */
  width: 4%;
  height: 4%;
  margin-left: 600px;
}

.hm-bttn {
  margin: auto;
  text-align: center;
  padding: 10px;
}


.badge-info {
  /* align-items: center; */
  display: flex;
  gap: 20px;
  flex-direction: row;
  padding: 40px;
}

.points-info{
  padding: 20px;
  margin-left: 160px;
}
.points-info li{
  list-style: none;
  padding: 8px;
  font-size: 20px;
  color: #ff7300;
}

/* .badge-info img {
  width: 10px;
} */

.badge-names {
  text-align:center;
  font-size: medium;
}

.rewards-footer {
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
}

.rewards-footer .donate-button a {
  display: flex;
  flex-direction: row;
  color: black;
  text-decoration: none;
}

.rewards-footer .donate-button a span {
  color: #ff7300;
}

.orange-square {
  width: 15px;
  height: 15px;
  background-color: orange;
}

.rewards-footer {
  /* display: flex; */
  /* justify-content: space-between; This will place the child divs on opposite sides */
  padding: 10px;
}


.earn-two {
  font-size:x-large;
  color: hsl(257, 84%, 51%);
}


.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Items will be at opposite ends */
  padding: 10px; /* Add padding for better spacing */
}

.donate-bttn-badges{
  margin-top: 200px;
  background-color: #ff7300;
  color: white
}

.arrow-image {
  width: 50px; 
  height: 50px; 
  margin: 0px 5px; 
  margin-top: 70px;
}

.arrow-down {
  /* transform: rotate(0deg);  */
  width: 50px; 
  height: 50px; 
  margin: 0px 5px; 
margin-top: -20px;
}

.arrow-up{
  /* transform: rotate(180deg); */
  width: 50px;
  height: 50px; 
  margin: 5px 5px;
  margin-top: 90px;
}

.badge-item img {
  width: 65px;
  height: 65px;
  
}
.last-badge img {
  width: 120px; 
  height: 120px; 
}

.badge-item:nth-child(1) {
  transform: translateY(0);
}

.badge-item:nth-child(2) {
  transform: translateY(10px);
}
.badge-item:nth-child(3) {
  transform: translateY(20px);
}

.badge-item:nth-child(4) {
  transform: translateY(70px);
}
.badge-item:nth-child(5) {
  transform: translateY(0px);
}

.badge-item:nth-child(6) {
  transform: translateY(-10px);
}
.badge-item:nth-child(7) {
  transform: translateY(-20px);
}

.black{
 
}
