/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
} */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.home,
.about,
.rewards,
.contact-us
.sign-up 
/* .home,
.about,
.rewards,
.contact-us,
.sign-up */
 {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url(images/img-1a.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  /* color: #ff7300; */
  font-size: 45px;
}

.about {
  /* background-image: url('./images/img-2a.jpeg'); */
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  /* color: #ffffff; */
  color: #ff7300;
  font-size: 45px;
}

.rewards {
  /* background-image: url('./images/img-3a.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff; */
  color: #ff7300;
  font-size: 45px;
}

.how-it-works {
  /* background-image: url('./images/img-3a.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  color: black;
  /* color: #ff7300; */
  font-size: 30px;
}

.charities {
  /* background-image: url('./images/img-3a.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  color: black;
  /* color: #ff7300; */
  font-size: 30px;
}

.contact-us {
  /* background-image: url('./images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  /* color: #ffffff; */
  color: #ff7300;
  font-size: 30px;
}

.sign-up {
  /* background-image: url('./images/img-5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff; */
  color: #ff7300;
  font-size: 30px;
}

/* .sign-up:hover {
  background-color: #551aeb;
} */

  @media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

.nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:500px;
    position: absolute;
    top: 80px;
    left: -100%;
    /* left: 0; */
    opacity: 1;
    transition: all 0.5s ease;
}

.nav-menu.active {
    background:rgb(255, 115, 0);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
}

.nav-links {
    text-align: center;
    padding: 1.2rem;
    width: 100%;
    display: table;
}

.nav-links:hover {
    background-color: #551aeb;
    border-radius: 0;
}

.navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
}

.menu-icon {
    display: block;
    position: absolute;
    top: 2px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.5rem;
    cursor: pointer;
}

.fa-times {
    color: #ffffff;
    font-size: 2rem;
}

.nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1rem;
    margin: .25rem auto;
    border-radius: 8px;
    width: 80%;
    background: #551aeb;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bolder;
}

.nav-links-mobile:hover {

    background-color: #2deae1;
   /* opacity: 50%;*/
}

Button {
    display: none;
}

}