
/* InfoSection.css */
.info-section {
  display: flex;
  /* gap: 40px; */
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  height: 50vh;
  padding: 1%;
}

.info-box {
  display: flex;
  flex-direction: column;
  width: 320px;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.info-box img {
  width: 200px;
  /* margin-left: 55px; */
  padding-bottom: 12px;
  /* margin-left: 25px; */
  margin-top: -25px;
}

.info-box p{
  min-height: 90px;
  text-align: center;
  font-size: small;
  font-weight: 600;
  /* padding-bottom: 30px; */
  /* margin-left: 25px; */
  margin-top: 10px;
  width: 300px;
}

.info-box-button {
  padding-top: 10px;
  font-size: 18px;
  width: 240px;
  font-weight: bolder;
  margin-top: 15px;
  /* margin-left: 25px; */
  border-radius: 4px;
  align-items: center;
}

.info-box button:hover {
  background-color: #ff7300;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .info-box {
    width: 45%; /* Adjust box width for medium screens */
  }
}

@media (max-width: 768px) {
  .info-box {
    width: 90%; /* Full width boxes on smaller screens */
  }
}

@media (max-height: 1350px) {
  .carousel-image {
    max-height: 850px;
  }
}

.text-overlay {
position: relative;
/* padding-top: 25px; */
line-height: 30px;
/* top: 17%; */
color: white;
width: 70%;
text-align: center;
}

.rewards {
  color: #ff7300;
  font-size: 45px;
}

.text-overlay {
  position: relative;
  padding-top: 5px;
  line-height: 33px;
  top: 17%;
  color: black;
  width: 60%;
  text-align: center;
  font-size: 22px;
  }

.charities {
  /* color: black; */
  color: #ff7300;
  font-size: 30px;
}

/* .contact-us { */
.connect {
  color: #ff7300;
  font-size: 30px;
}

.sign-up {
  color: #ff7300;
  font-size: 30px;
}

/* .sign-up:hover {
  background-color: #551aeb;
} */

  